@import url('font/stylesheet.css');

/*
 * Red:  #ff0054
 * Light Red: #ff2a70
 * Blue: #15bcf3
 */

body {
	font-family: carnaslight;
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
}
p {
	text-indent: 4em;
}
h1 {
	border-bottom: 3px solid #fff;
}
h2 {
	text-align: center;
}
a {
	color: #15bcf3;
}
a:hover {
	text-decoration: none;
}
a:visited {
	color: #ff0054;
}

div.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #000;
	cursor: default;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
div.header-proxy {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100px;
}
a.logo-header {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	padding: 10px;
	background-image: url('img/logo-large.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 79px;
	height: 76px;
}
a.logo-header div.overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	background-color: transparent;
	mix-blend-mode: multiply;

	transition: background-color 0.15s linear;
}
a.logo-header:hover div.overlay {
	background-color: #15bcf3;
}
a.logo-header.active div.overlay {
	background-color: #ff0054;
}
a.logo-header.active:hover div.overlay {
	background-color: #ff2a70;
}
div.navigation {
	position: absolute;
	left: 100px;
	top: 0;
	right: 5px;
	bottom: 10px;
}
a.nav {
	position: relative;
	display: block;
	height: 100%;
	float: left;
	overflow: hidden;
	cursor: pointer;
	font-size: 14pt;
	width: 20%;
	text-decoration: none;
}
a.nav span {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 5px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	color: #fff;

	transition: border-bottom-color 0.1s linear, color 0.1s linear;
}
a.nav:hover span {
	border-bottom-color: #15bcf3;
	color: #15bcf3;
}
a.nav.active span {
	border-bottom-color: #ff0054;
	color: #ff0054;
}
a.nav.active:hover span {
	border-bottom-color: #ff2a70;
	color: #ff2a70;
}
div.navigation-foldout {
	display: none;
	position: absolute;
	right: 10px;
	bottom: 10px;
	top: 10px;
	width: 30px;
	cursor: pointer;
}
div.navigation-foldout span.dots {
	display: block;
	position: absolute;
	left: 12px;
	right: 12px;
	top: 20px;
	height: 6px;
	border-radius: 3px;
	background-color: #fff;

	transition: background-color 0.15s linear;
}
div.navigation-foldout span.dots::before,
div.navigation-foldout span.dots::after {
	display: block;
	position: relative;
	width: 6px;
	height: 6px;
	content: ' ';
	border-radius: 3px;
	background-color: #fff;

	transition: background-color 0.15s linear;
}
div.navigation-foldout span.dots::before {
	top: -9px;
}
div.navigation-foldout span.dots::after {
	top: 3px;
}
div.navigation-foldout:hover span.dots,
div.navigation-foldout:hover span.dots::before,
div.navigation-foldout:hover span.dots::after {
	background-color: #15bcf3;
}
div.navigation-foldout.active span.dots,
div.navigation-foldout.active span.dots::before,
div.navigation-foldout.active span.dots::after {
	background-color: #ff0054;
}
div.navigation-foldout.active:hover span.dots,
div.navigation-foldout.active:hover span.dots::before,
div.navigation-foldout.active:hover span.dots::after {
	background-color: #ff2a70;
}
div.navigation-foldout ul {
	display: none;
	list-style-type: none;
	position: absolute;
	top: 38px;
	right: 0;
	margin: 0;
	padding: 2px 5px 5px 5px;
	min-width: 100px;
	border-left: 5px solid #000;
	border-bottom: 5px solid #000;
	border-bottom-left-radius: 5px;
	background-color: #000;
	box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.4);
}
div.navigation-foldout.active ul {
	display: block;
}
div.navigation-foldout ul li {
	font-size: 12pt;
}
a.foldout-nav {
	text-decoration: none;
}
a.foldout-nav span {
	display: block;
	color: white;
	padding-top: 5px;
	border-bottom: 5px solid #fff;

	transition: border-bottom-color 0.15s linear, color 0.15s linear;
}
a.foldout-nav:hover span {
	border-bottom-color: #15bcf3;
	color: #15bcf3;
}
a.foldout-nav.active span {
	border-bottom-color: #ff0054;
	color: #ff0054;
}
a.foldout-nav.active:hover span {
	border-bottom-color: #ff2a70;
	color: #ff2a70;
}
div.social {
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}
div.social a {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	margin-right: 10px;
}
div.social a:last-child {
	margin-right: 0;
}
div.social a img {
	display: inline-block;
	vertical-align: bottom;
}
div.social a::after {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: transparent;
	mix-blend-mode: multiply;
	content: ' ';

	transition: background-color 0.15s linear;
}
div.social a:hover::after {
	background-color: #15bcf3;
}
div.tagline {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #999;
}

div.body {
	margin-left: 10px;
	margin-right: 10px;
}
div.date-range {
	width: 100%;
	text-align: center;
	text-align: justify-all;
}
div.date-range div.tag {
	width: 100%;
	color: #15bcf3;
	border-bottom: 2px solid #15bcf3;
	text-align: left;
	text-indent: 1em;
	margin-bottom: 5px;
	cursor: default;
}
div.date-range.old div.tag {
	color: #999;
	border-bottom-color: #999;
}
div.date-range.current div.tag {
	color: #ff0054;
	border-bottom-color: #ff0054;
}
div.showcase-entry {
	display: inline-block;
	vertical-align: text-top;
	margin-bottom: 15px;
	width: 30%;
}
div.showcase-entry a {
	text-decoration: none;
}
div.showcase-entry div.title {
	width: 100%;
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
	color: #fff;

	transition: color 0.15s linear;
}
div.showcase-entry a:hover div.title {
	color: #15bcf3;
}
div.date-range.current div.showcase-entry a:hover div.title {
	color: #ff0054;
}
div.showcase-entry img.thumbnail {
	display: block;
	width: 100%;
	max-width: 296px;
	margin: 0 auto 0 auto;
	border: 2px solid transparent;

	transition: border-color 0.15s linear;
}
div.showcase-entry a:hover img.thumbnail {
	border: 2px solid #15bcf3;
}
div.date-range.current div.showcase-entry a:hover img.thumbnail {
	border: 2px solid #ff0054;
}
div.showcase-entry div.desc {
	color: #aaa;
	max-width: 320px;
	margin: 0 auto 0 auto;
	cursor: default;
}
div.showcase-entry div.desc div.note {
	margin-top: 5px;
	color: #666;
	font-size: 10pt;
	font-style: italic;
}
img#profile {
	max-width: 460px;
	float: right;
	margin: 0 0 20px 20px;
}
div.contact ul {
	list-style-type: none;
}

div.footer {
	clear: both;
	font-size: 10pt;
	margin: 20px 0 10px 0;
	text-align: center;
	color: #444;
}
div.footer a {
	color: #444;
}
div.footer a:hover {
	text-decoration: none;
	color: #999;
}

/* Small media query */
@media only screen and (max-width: 700px) {
	p {
		text-indent: 3em;
	}
	h1 {
		text-align: center;
	}
	div.showcase-entry {
		width: 100%;
	}
	div.showcase-entry div.desc {
		max-width: 100%;
	}
	img#profile {
		display: block;
		float: none;
		margin: 0 auto 0 auto;
	}
}

/* Mobile media query */
@media only screen and (max-width: 480px) {
	p {
		text-indent: 2em;
	}
	div.header {
	}
	div.header-proxy {
		height: 60px;
	}
	a.logo-header {
		background-image: url('img/logo-medium.png');
		width: 40px;
		height: 38px;
	}
	div.navigation {
		right: 35px;
		left: 60px;
		bottom: 10px;
	}
	a.nav {
		width: 33%;
		font-size: 12pt;
	}
	a.nav.extra {
		display: none;
	}
	div.navigation-foldout {
		display: block;
	}
	div.tagline {
		display: none;
	}
	img#profile {
		width: 100%;
	}
}

@media only screen and (min-width: 1200px) {
	div.header {
		max-width: 1200px;
		margin: 0 auto 0 auto;
	}
	div.body {
		max-width: 1180px;
		margin: 0 auto 0 auto;
	}
}
