body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-color: #ccc;
}

div#container {
	min-width: 800px;
	max-width: 60%;
	margin: 0 auto 0 auto;
	padding: 5px;
	background-color: #fff;
	border: 2px solid #999;
}

input[type="text"] {
	margin: 2px;
}

select {
	margin: 2px;
}

button.compact {
	margin: -4px 2px 0 2px !important;
}

button.compact > span.ui-button-text {
	font-weight: normal;
	padding: 2px 4px 2px 4px !important;
}

span.color {
	width: 20px !important;
	margin: 0 2px -6px 2px !important;
}

span.color > span.ui-selectmenu-text {
	padding: 2px !important;
	color: transparent;
}

span.color > span.ui-icon {
	display: none;
}

li.coloroption {
	position: relative;
	border: 0 !important;
	margin: 0 !important;
}

li.coloroption > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul.ui-sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.ui-sortable li {
	margin: 5px 5px 5px 5px;
	padding: 5px;
	background: #fff;
}

li.ui-state-default {
	font-weight: normal;
}

ul.ui-sortable li {
	position: relative;
	padding-left: 24px;
}

ul.ui-sortable > li {
	padding-left: 4px;
}

div.grip {
	position: absolute;
	width: 26px;
	height: 38px;
	padding-top: 9px;
	top: 0;
	left: 5px;
}

div.colorbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
}

ul#tagroot li.propertyroot.invalid {
	background-image: url('images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png');
	background-repeat: repeat;
	background-attachment: fixed;
}

div#filteroptions {
	text-align: right;
	padding-right: 5px;
}

input#onlyinvalid {
	position: relative;
	top: 2px;
}

label[for="onlyinvalid"] {
	margin-right: 5px;
}

div#sortcontainer {
	display: inline-block;
	float: left;
	position: relative;
}

div#sortgreaterleft {
	display: inline-block;
	position: absolute;
	top: 4px;
	left: 49px;
}

div#sortgreaterright {
	display: inline-block;
	position: absolute;
	top: 4px;
	left: 110px;
}

ul#sorting {
	list-style-type: none;
	margin: 0 0 0 5px;
	padding: 0;
	width: 300px;
}

ul#sorting li {
	margin: 0 20px 0 0;
	padding: 4px;
	float: left;
	border: 1px solid #ccc;
	text-align: center;
	cursor: default;
}

button#sort {
	float: left;
	margin-top: 1px !important;
}

div#fileroot {
	margin: 0 5px 0 5px;
}

.left {
	width: 50%;
	float: left;
}

.textleft {
	text-align: left;
}

.right {
	width: 50%;
	float: right;
}

.textright {
	text-align: right;
}

.clear {
	width: 100%;
	clear: both;
}

input#minimal {
	position: relative;
	top: 2px;
}

div#edited {
	display: inline-block;
}

div#editroot {
	text-align: right;
	padding: 5px;
}

div#settingseditor {
	display: none;
}
