body
{
	background-color: #202020;
	font-family: Arial;
}

div.wrapper
{
	width: 1200px;
	margin: 0 auto 0 auto;
}

div#notify
{
	text-align: center;
	color: #fff;
	font-size: 20pt;
}

table#legend td
{
	line-height: 100px;
	font-weight: bold;
	color: #fff;
}

table#legend td img
{
	background-color: #974;
	position: relative;
	float: left;
	margin-right: 5px;
}

table#board
{
	margin: 0 auto 0 auto;
}

table#board td
{
	width: 100px;
	height: 100px;
}

table#board td
{
	background-color: #974;
}

table#board td.selected
{
	background-color: #a74;
}

table#board td[data-tile=eye]
{
	background-image: url('../img/eye.png');
}

table#board td[data-tile=fate]
{
	background-image: url('../img/fate.png');
}

table#board td[data-tile=isle]
{
	background-image: url('../img/isle.png');
}

table#board td[data-tile=die]
{
	background-image: url('../img/die.png');
}

table#board td[data-tile=rosette]
{
	background-image: url('../img/rosette.png');
}

table#board td[data-tile=star]
{
	background-image: url('../img/star.png');
}

table#board td[data-tile=none]
{
	border: 0;
	background-color: transparent;
}

table#board td[data-marker=white]:before
{
	content: "";
	text-align: center;
	display: block;
	width: 0px;
	height: 0px;
	margin: 5px 0 0 25px;
	background-color: #fff;
	border-radius: 25px;
	border: 25px solid #fff;
}

table#board td[data-marker=black]:before
{
	content: "";
	text-align: center;
	display: block;
	width: 0px;
	height: 0px;
	margin: 5px 0 0 25px;
	background-color: #000;
	border-radius: 25px;
	border: 25px solid #000;
}
