body {
	font-family: Arial;
	font-weight: bold;
	background-color: black;
	color: white;
	font-size: 64pt;
	text-align: center;
	padding-top: 60px;
}

div {
	margin: 30px 0 30px 0;
}

select {
	font-size: 64pt;
	font-family: Arial;
	font-weight: bold;
	background-color: white;
	color: black;
	border: 5px solid #999;
	border-radius: 20px;
}

button {
	font-size: 64pt;
	font-family: Arial;
	font-weight: bold;
	background-color: white;
	color: black;
	border: 5px solid #999;
	border-radius: 20px;
}

.red {
	color: red;
}

.green {
	color: green;
}
