body
{
	font-family: 'Arial';
	font-size: 10pt;
	background-color: #ccc;
}

div.container
{
	width: 1000px;
	margin: 0 auto 0 auto;
	background-color: #fff;
	padding: 10px;
}

div.datalabel
{
	display: inline-block;
	min-width: 100px;
	min-height: 22px;
	padding-top: 5px;
}

div.property, div.data
{
	margin-left: 28px;
}

div.property > div.data
{
	margin-left: 6px;
}

div.tag > div.property
{
	margin-left: 4em;
	padding: 5px;
}

div.property.static
{
	background-color: #c199ff;
}

input.add
{
	height: 22px;
	width: 24px;
}

div.label
{
	min-height: 26px;
}

div.data > input.add
{
	margin-left: 4px;
}

input.remove
{
	width: 24px;
	float: left;
}

div.tag > input.remove
{
	margin-top: 7px;
}

div.tag > input.remove
{
	margin-left: 2em;
}

input.staticcheckbox
{
	float: left;
}

input.valuefield
{
	margin-left: 20px;
}

input.staticcheckbox
{
	margin-top: 6px;
}
