body
{
	background-color: #ccc;
	font-family: Arial;
	font-size: 10pt;
}

hr
{
	border: 0;
	height: 2px;
	background-color: #999;
}

div.left
{
	float: left;
	text-align: left;
}

div.right
{
	float: right;
	text-align: right;
}

div.clear
{
	clear: both;
}

div.container
{
	width: 1000px;
	padding: 5px;
	margin: 0 auto 0 auto;
	background-color: #fff;
	border: 2px solid #999;
}

div.tag
{
	margin-top: 2px;
	margin-bottom: 2px;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}

div.tag:nth-child(even)
{
	background-color: rgba(0, 0, 0, 0.05);
	border-color: rgba(0, 0, 0, 0.05);
}

div.tag:nth-child(odd)
{
	background-color: rgba(255, 255, 255, 0.05);
	border-color: rgba(255, 255, 255, 0.05);
}

div.tag.checked
{
	border-top: 2px solid #5ea0eb;
	border-bottom: 2px solid #5ea0eb;
	background-color: #85bcff;
}

div.tag.invalid
{
	background-color: #f00;
	border-bottom: 2px solid #c00;
	border-top: 2px solid #c00;
}

div.property
{
	margin-left: 2em;
	margin-top: 2px;
	margin-bottom: 2px;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
}

div.property:nth-child(even)
{
	background-color: rgba(0, 0, 0, 0.05);
	border-color: rgba(0, 0, 0, 0.05);
}

div.property:nth-child(odd)
{
	background-color: rgba(255, 255, 255, 0.05);
	border-color: rgba(255, 255, 255, 0.05);
}

div.property.static
{
	background-color: #883aff;
	border-top: 2px solid #6d2ecc;
	border-bottom: 2px solid #6d2ecc;
}

div.property.invalid
{
	background-color: #f00;
	border-bottom: 2px solid #c00;
	border-top: 2px solid #c00;
}
